# SMTP Configuration for sending OTP verification emails
EMAIL_NAME="your_email@gmail.com"
EMAIL_PASSWORD="your_smtp_app_password"

# Server Bind Address
IP_ADDRESS="127.0.0.1"
PORT_NUMBER="45999"

# MongoDB Database Connection URI
MONGODB_URI="mongodb://username:password@127.0.0.1:27017/db_messenger?authSource=db_messenger"
